#searchPane {
	float: left;
	width: 29%;
	/*min-width: 270px;*/
	padding: 0;
	margin-right: 0px;
	border-right: 1px solid #c0c2c5;
	border-collapse: collapse;
}

#searchPane h3 {
	margin-top: 0px;
	padding-top: 10px;
}

.searchModeLink {
	float: right;
	font-size: 11px;
	font-weight: normal;
	margin-top: 4px;
	display: none;
}

.searchForm {
	display: none;
}

.searchForm table {
	width: 100%;
}

#contentPane {
	float: right;
	width: 69.5%;
}

#contentPane h3 {
	margin-top: 0px;
	padding-top: 10px;
}

input[type=text] {
	width: 97.5%;
	padding-bottom: 3px;
}

hr {
	border: 0;
	background: #c0c2c5;
	color: #c0c2c5;
	height: 1px;
	margin: 10px 0;
	padding: 0;
}

h3 small {
	font-weight: normal;
	font-size: 11px;
}

td {
	line-height: 120%;
}
tr.activeresult a {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
#rating-control {
	cursor: pointer; 
	/*width: 94px; 
	height: 18px;*/
}
.rating-star {
	padding: 0 1px;
	vertical-align: middle;
}