.image {
	float: left;
	margin: 0 15px 0 15px;
}

#bottom {
	padding: 15px 0 15px 0;
}

.wrapper {
	position: relative;
	float: left;
	left: 0px;
	width: 100%;
	background-color: none;
}

.left1 {
	position: relative;
	float: left;
	left: 5px;
	width: 32%;
	height: 120px;
	/*  background-color: #828282 */
}

#first.left1,#middle.left2 {
	border-style: solid;
	border-color: #333333;
	border-width: 0 thin 0 0;
	padding-right: 10px;
}

.left2 {
	position: relative;
	float: left;
	left: 15px;
	width: 32%;
	height: 120px;
	/*  background-color: #828282 */
}

.left3 {
	position: relative;
	float: left;
	left: 25px;
	width: 32%;
	height: 120px;
	/*  background-color: #828282 */
}

.rating-star {
	padding: 0 1px;
	vertical-align: middle;
}

.rating-width {
	min-width: 105px;
}

.box-table {
	width: auto;
}

.box-table tr td {
	max-width: 215px;
	min-width: 215px;
	width: 215px;
}