form textarea,form span img,form input,form select {
	/* Alle Labels UND Formularelemente auswählen */
	display: block;
	float: left;
	margin-bottom: 1em;
}

form br { /* Alle Zeilenumbrüche in Formularen auswählen */
	clear: left; /* das floating der labels und inputs aufheben */
}

input[type="submit"] { /* den Submit-Button */
	float: left;
	width: auto;
}

form span img,form label,.error {
	margin-top: .4em;
}

form textarea {
	height: 150px;
}

form label {
	display: block;
	float: left;
	width: 150px; /* Breite.*/
	text-align: right;
	padding-right: 1em;
}

form span img {
	padding-left: 1em;
}

form textarea,form input,form select {
	width: 500px; /* Breite.*/
}

form {
	padding: .10em;
	margin: 0;
}

form fieldset {
	margin: 1em;
}

form legend {
	margin-left: 14em;
}

#legend {
	float: left;
	margin-top: .6em;
}

#headline,input[type="submit"] {
	margin-left: 179px;
}

.res-small {
	width: 68px;
	margin-right: 1em;
}

.res-wide {
	width: 160px;
	margin-right: 1em;
}

.error {
	color: #FF0000;
	float: left;
	margin-left: 1em;
}

.req {
	margin-left: 0.5em;
	color: #f8b456;
}